body {
  background-color: #8E806A;
}

h1 {
  color: white;
  font-size: 30px;
}

img {
  border-radius: 5px;
}

.baconIMG {
  background-color: #FFE6BC;
}

.poultryIMG {
  background-color: #E4CDA7;
}

.chocolateIMG {
  background-color: #C3B091;
}
